export GS_ACCESS_KEY_ID=12345
export GS_SECRET_ACCESS_KEY=12345

export BUCKET=test
export PASSPHRASE=S3CR3T

export VIRTUALENV_ACTIVATE_SCRIPT="~/bin/virtualenvs/scm-backup/bin/activate"

export GITHUB_ACCESS_TOKEN="12345"

export BITBUCKET_USERNAME=testuser
export BITBUCKET_PASSWORD=my-app-password
